<style>
  p{
  font-family: 'Dancing Script', cursive;
  color: red
 }
button{
     color: bluesky
 }
	   body{
 background-color:;
 font-family:tahoma;
 direction:ltr;
}

.mybox{
 background-color:#fff;
 box-shadow: 4px 5px 30px rgba(0,0,0,.1);
 max-width:540px;
 margin:30px auto;
 padding:10px;
 text-align:left;
}

.result{
 position:relative;
 overflow:auto;
}

#Result{
 padding:10px;
 width:200px;
 text-align:left;
 direction:ltr;
 font-size:17px;
 font-weight:600;
 border-radius:30px;
 border:2px solid blue;
}

#btn_copy{
 right:3px;
 position:absolute;
 height:35px;
 cursor:pointer;
 border-radius: 20px;
 border: none;
 top: -7px;
 background-color: Red;
 color: white;
}
     a{
	    color: rgba(20,120,25)
	 }
	 ::placeholder{
	    color:rgba(60,41,256)
	 }
</style>
